<footer class="primary">
    <div class="heading d-flex justify-content-center align-items-center">
      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>

        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>

        <li><a href="#"><i class="fa fa-google"></i></a></li>
      </ul>
    </div>

    <p> Copyright &copy; 2022- www.insurance.com-All rights reserved</p>



  </footer>