.secRight{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
}
.paras{
    padding: 0px, 64px;
    box-shadow: 10px 10px 8px -8px #864dce;
}
.paras a{
    margin-left: 4px;
}
.thumbnail{
    padding-left: 17px;
    padding-right: 9px;

    
}
.card{
    box-shadow: 10px 10px 8px -8px lightblue;
    margin: 2% 5% 2% 5%;
}
p{
    
   
    font-size: 16px;
    color: #353535;
    line-height: 24px;
    margin: 15px 0;
    
}
h1{
    
    color: #333;
    font-weight: 150;
    font-size: 30px;
}
