<section class="secRight">
    <div class="paras">

    <h1><b> CAR INSURANCE IS HERE!</b></h1>
<p class="sectionSubTag text-small">More popularly known as motor insurance, this type of insurance provides cover for loss or damage to any vehicle like car, two-wheeler or commercial vehicle, etc. Description: This insurance helps mitigate monetary harms due to accidents causing damage to the vehicles. <br> Car insurance is an agreement between the insurance company and the car owner wherein, the car owner will pay premiums and the insurance company covers for loss or damage caused to the car. Car Insurance is mandatory in India regardless of whether it is a commercial vehicle or a personal vehicle. </p>
<a  routerLink="/insuranceproducts/products-car" class="btn btn-success">Proceed<i class="fa fa-arrow-right"></i></a>
</div>

<div class="thumbnail">
    <img src="../../assets/carpolicy.png" alt="car policy" width="220px">
</div>


</section>
<section class="secRight">
    <div class="paras">

    <h1><b> PROPERTY and CASUALTY INSURANCE IS HERE!</b></h1>
<p class="sectionSubTag text-small"> Home insurance is a type of property insurance that provides coverage to the policyholder from the unforeseen loss or damage caused to the house structure as well as its content. Home insurance is popularly known as homeowner's insurance. It is a sort of property insurance covering private residences. </p>
<a  routerLink="/insuranceproducts/products-home" class="btn btn-success"> Proceed<i class="fa fa-arrow-right"></i></a>
</div>

<div class="thumbnail">
    <img src="../../assets/HomePolicy.jpg" alt="car policy" width="220px">
</div>


</section>
<section class="secRight">
    <div class="paras">

    <h1> <b>LIFE INSURANCE IS HERE!</b></h1>
<p class="sectionSubTag text-small"> Life insurance is a contract between you and an insurance company. Essentially, in exchange for your premium payments, the insurance company will pay a lump sum known as a death benefit to your beneficiaries after your death. Your beneficiaries can use the money for whatever purpose they choose.</p>
<a  routerLink="/insuranceproducts/products-life" class="btn btn-success">Proceed<i class="fa fa-arrow-right"></i></a>


</div>

<div class="thumbnail">
    <img src="../../assets/lifepolicy.jpg" alt="car policy" width="220px">
</div>


</section>





<router-outlet></router-outlet>
