<section class="secRight">
    <div class="paras">

    <h1> CAR POLICY IS HERE!</h1>
<p class="sectionSubTag text-small"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, repellat eum veniam harum, molestiae hic sint deleniti error aut iste neque fugiat necessitatibus nobis? Veniam quas ipsam eos. Labore, aliquid?</p>
<a  routerLink="/insuranceproducts/products-car" class="btn btn-success">contact Us</a>
</div>

<div class="thumbnail">
    <img src="../../assets/carpolicy.png" alt="car policy" class="imgFluid">
</div>


</section>
<section class="secRight">
    <div class="paras">

    <h1> CAR POLICY IS HERE!</h1>
<p class="sectionSubTag text-small"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, repellat eum veniam harum, molestiae hic sint deleniti error aut iste neque fugiat necessitatibus nobis? Veniam quas ipsam eos. Labore, aliquid?</p>
<a  routerLink="/insuranceproducts/products-home" class="btn btn-success">contact Us</a>
</div>

<div class="thumbnail">
    <img src="../../assets/carpolicy.png" alt="car policy" class="imgFluid">
</div>


</section>
<section class="secRight">
    <div class="paras">

    <h1> CAR POLICY IS HERE!</h1>
<p class="sectionSubTag text-small"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, repellat eum veniam harum, molestiae hic sint deleniti error aut iste neque fugiat necessitatibus nobis? Veniam quas ipsam eos. Labore, aliquid?</p>
<a  routerLink="/insuranceproducts/products-life" class="btn btn-success">contact Us</a>


</div>

<div class="thumbnail">
    <img src="../../assets/carpolicy.png" alt="car policy" class="imgFluid">
</div>


</section>





<router-outlet></router-outlet>
