<mat-toolbar color="primary" class="mat-elevation-z6">
    <span> <a routerLink="home" mat-button>Insurance</a> </span>
    <div class="spacer"> </div>
    <div class="b1">
    <a routerLink="" mat-button>Home</a>
    
    <a  routerLink="aboutus" mat-button> AboutUs</a>
    
    <a mat-button  routerLink="insuranceproducts">Insurance Products</a>
    <a routerLink="fileclaim" mat-button> File a Claim</a>
    <a routerLink="signup" mat-button> SignUp</a>
    <a routerLink="login" mat-raised-button color="accent"> Login</a>
    </div>
    
  </mat-toolbar>
  
  