.spacer{
    flex: 1 1 auto;

    
}
.height{
    height: 10px;
}
.b1 a{
color: white;

}
span a{
    color: white;
   padding-bottom: 2%;
    padding-left: 5%
}
.clr{
    color: white;
}
.new{
    color: white;
    flex: content;
    flex-direction: row-reverse;
}
h1{

}

