<mat-toolbar color="primary" class="mat-elevation-z6">
    <span> <mat-icon>favorite</mat-icon>My Application</span>
    <div class="spacer"> </div>
    <div class="b1">
    <a routerLink="" mat-button>Home</a>
    
    <a class="nav-link" routerLinkActive="active" routerLink="aboutus" mat-button> AboutUs</a>
    
    <a mat-button  routerLink="insuranceproducts">Insurance Products</a>
    <a routerLink="fileclaim" mat-button> File a Claim</a>
    <a routerLink="signup" mat-raised-button color="accent"> SignUp</a>
    </div>
    
  </mat-toolbar>
  
  