<br><br>
<div class="login">
<img src="../../assets/login.png" alt="car policy" width="15%">
</div>
<br><br>
<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="container-fluid">
        <h1>Existing User Sign In </h1>
        <div *ngIf="invalidLogin"  class="alert alert-danger"> Invalid username or password </div>
        <br>
        <label for="username" class="sr-only"> Email address </label>
        <input type="email" id="username" name="username" ngModel class="form-control" placeholder="User Name" required autofocus>
        <br>
        <label for="password" class="sr-only">Password </label>
        <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>
        <br>
        <div class="s">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
</div>
    </div>

</form>