
<div class="container-box">
    <div class="box">
      <img src="../../assets/about1.webp" alt="carpolicy" />
      
    </div>
    
        <div class="box">
          <img src="../../assets/about2.webp" alt="HomePolicy" />
         
        </div>
        
            <div class="box">
              <img src="../../assets/about3.webp" alt="lifepolicy" />
              <br>
              
            </div>
</div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum rem ducimus ipsa, dolores libero recusandae id eaque pariatur doloremque veniam placeat? Dicta laborum numquam ea quos eligendi praesentium aperiam suscipit!</p>