.container-box{
    width:100%;
    
    
    justify-content: center;  
    
}
h2 {
    font-size: 3.0vh;
    }
.container-box img{
    width:100%;
    
    margin:  auto;
    display: flex;
    flex-direction: row;
    justify-content: center;  
    
}
h1{
    color: #333;
    font-weight: 300;
    font-size: 40px;
}
p{
    
   padding:0 5% 10% 5%;
    font-size: 16px;
    color: #353535;
    line-height: 24px;
    margin: 15px 0;
    
}

.box{
    
    
}