
<section class="secRight">
    <div class="paras">

    <h1> CLAIM  ASSISTANCE</h1>
<p class="sectionSubTag text-small"> Claim settlement is one of the most important services that an insurance company provides you. Insurance companies are bound to settle the claims promptly. Every product has a different claim process which you might go through. You must know the process of claim before initiating with it. </p>
</div>

<div class="thumbnail">
    <img src="../../assets/claim-india-1.png" alt="car policy" class="imgFluid">
</div>


</section>

<div class="main-section1">
    <div class="container">
    <div class="row">
    
    <div class="col">  
    <div class="cars">
    
    <div class="car-name text-center">
    <p> CAR INSURANCE </p> 
    </div>
    <div>
    <img src="../../assets/claim1.png" width="30%" />
    </div>
    
    <div class="text-center mt-2">
    <a routerLink="/fileclaim/claim-now" class="btn btn-dark"> Claim Now </a>
    </div>
    
    </div>
    </div>
    <div class="col">  
        <div class="cars">
        
        <div class="car-name text-center">
        <p> PROPERTY and CASUALTY INSURANCE </p> 
        </div>
        <div>
            <img src="../../assets/claim2.png" width="30%" />
        </div>
        
        <div class="text-center mt-2">
        <a routerLink="/fileclaim/claim-now" class="btn btn-dark"> Claim Now </a>
        </div>
        
        </div>
        </div>
        <div class="col">  
            <div class="cars">
           
            <div class="car-name text-center">
            <p> LIFE INSURANCE </p> 
            </div>
            <div>
                <img src="../../assets/claim3.png" width="30%" />
            </div>
            
            <div class="text-center mt-2">
            <a routerLink="/fileclaim/claim-now" class="btn btn-dark"> Claim Now </a>
            </div>
            
            </div>
            </div>