.secRight{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
}
.top{

    margin: 2% 5% 2% 5%;
}
.card-text{
    font-size: medium;
}

.paras{
    padding: 0px 10%;
    box-shadow: 10px 10px 8px -8px lightblue;
}


.container{
    margin: auto;
    padding: auto;
}
p{
    
   width: 100%;
   
    color: #353535;
    line-height: 24px;
    margin: 15px 0;
    
}
.main-section1{

    margin: 2% 5% 5% 5% ;
}



.car-name
{
	background-color: lightblue;
	font-size:20px;
}
.cars
{
	border:2px solid blue;
	box-shadow: 5px 5px lightblue;
	padding: 5px;
    margin: 0 5% 5% 5%;
   
   
    
}
