<!--<div class="one"> 
    
<section class="secRight">
    <div class="paras">

    <h1 >CLAIM ASSISTANCE</h1>
<p class="sectionSubTag" class="fs-6">Insurance companies are bound to settle the claims promptly. Every product has a different claim process which you might go through. You must know the process of claim before initiating with it. </p>
</div>

<div class="thumbnail">
    <img src="../../assets/claim-india-1.png" alt="car policy" class="imgFluid" >
</div>


</section>
    
</div>-->

<section>
    <div class="card mb-3" class="top">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../assets/claim-india-1.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">CLAIM ASSISTANCE</h2>
              <p class="card-text">Insurance companies are bound to settle the claims promptly. Every product has a different claim process which you might go through.
                   You must know the process of claim before initiating with it.<br><br>
                We provide assistance in the below mentioned areas:</p>
              <p class="card-text"><small class="text-muted"></small></p>
            </div>
          </div>
        </div>
      </div>


</section>
<!--
<div class="main-section1">
    <div class="container">
    <div class="row">
    
    <div class="col">  
    <div class="cars">
    
    <div class="car-name text-center">
    <p> CAR INSURANCE </p> 
    </div>
    <div>
    <img src="../../assets/claim1.png" width="30%" />
    </div>
    
    <div class="text-center mt-2">
    <a routerLink="/fileclaim/claim-now" class="btn btn-dark"> Claim Now </a>
    </div>
    
    </div>
    </div>
    <div class="col">  
        <div class="cars">
        
        <div class="car-name text-center">
        <p> PROPERTY and CASUALTY INSURANCE </p> 
        </div>
        <div>
            <img src="../../assets/claim2.png" width="30%" />
        </div>
        
        <div class="text-center mt-2">
        <a routerLink="/fileclaim/claim-now" class="btn btn-dark"> Claim Now </a>
        </div>
        
        </div>
        </div>
        <div class="col">  
            <div class="cars">
           
            <div class="car-name text-center">
            <p> LIFE INSURANCE </p> 
            </div>
            <div>
                <img src="../../assets/claim3.png" width="30%" />
            </div>
            
            <div class="text-center mt-2">
            <a routerLink="/fileclaim/claim-now" class="btn btn-dark"> Claim Now </a>
            </div>
            
            </div>
            </div>-->


            <div class="main-section1">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card  h-90 " class="cars" >
                        <h2 class="card-title" class="car-name text-center">Car Insurance</h2>
                        <img src="../../assets/claim1.png" width="40%" />
                    <!--<img src="../../assets/home6.jpg" class="card-img-top" alt="...">-->
                        <div class="card-body" style="text-align: center;" >
                          
                          <p class="card-text"></p>
                          <div class="card-footer" class="check">
                            <small class="text-muted" >
                                <a routerLink="/fileclaim/claim-now" class="btn btn-primary"> Claim Now </a>

                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-90" class="cars" >
                        <h2 class="card-title" class="car-name text-center">Property&Casualty Insurance</h2>
                        <img src="../../assets/claim2.png" width="40%" />
                        <div class="card-body" style="text-align: center;">
                         
                          <p class="card-text"></p>
                          <div class="card-footer" class="check">
                            <small class="text-muted"><a routerLink="/fileclaim/claim-now" class="btn btn-primary"> Claim Now </a></small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card  h-90" class="cars">
                        <h2 class="card-title" class="car-name text-center"> Life Insurance</h2>
                        <img src="../../assets/claim3.png" width="40%" />
                        <div class="card-body" style="text-align: center;">
                         
                          <p class="card-text"></p>
                          <div class="card-footer" class="check">

                            <small  class="text-muted">
                                <a routerLink="/fileclaim/claim-now" class="btn btn-primary"> Claim Now </a>
                                </small>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
              
              
              
              