
<br>
<h1> India's Most Trusted Insurance Portal</h1>
<div class="product-heading"> 
    ::before
    <span> Our Services</span>
</div>

<div class="container-box">
    <div class="box">
      <img src="../../assets/carpolicy.png" alt="carpolicy" />
      <p style="text-align: center;"> CarPolicy</p>
    </div>
    
        <div class="box">
          <img src="../../assets/HomePolicy.jpg" alt="HomePolicy" />
          <p style="text-align: center;"> HomePolicy</p>
        </div>
        
            <div class="box">
              <img src="../../assets/lifepolicy.jpg" alt="lifepolicy" />
              <br>
              <p style="text-align: center;">Lifepolicy</p>
            </div>
</div>
