
<br>
<h1> India's Most Trusted Insurance Portal</h1>
<div class="product-heading"> 
    ::before
    <span> Our Services</span>
</div>

<div class="container-box">
    <div class="box">
      <img src="../../assets/home6.jpg" alt="carpolicy" />
      <br>
      <br> 
      <p style="text-align: center;"> CAR POLICY</p>
      <br>
      <br>
      
      <a  routerLink="/insuranceproducts" class="btn btn-primary">Check Now</a>
    </div>
    
        <div class="box">
          <img src="../../assets/HomePolicy.jpg" alt="HomePolicy" />
          <br>
          <p style="text-align: center;"> CAR POLICY</p>
          <br> 
          
          <a  routerLink="/insuranceproducts" class="btn btn-primary">Check Now</a>
        </div>
        
            <div class="box">
              <img src="../../assets/lifepolicy.jpg" alt="lifepolicy" />
              <br>
              <br>
              <p style="text-align: center;"> CAR POLICY</p>
              <br> 
              
              <a  routerLink="/insuranceproducts" class="btn btn-primary">Check Now</a>
            </div>
</div>
<br>
<div class="product-heading"> 
  ::before
  <span>Insurance.com Advantages</span>
</div>

<div class="container-box">
  <div class="b2">
  
    <img src="../../assets/home1.webp" alt="carpolicy" />
    
  </div>
  <div class="b2">
  
    <img src="../../assets/home2.webp" alt="carpolicy" />
    
  </div>
  <div class="b2">
  
    <img src="../../assets/home3.webp" alt="carpolicy" />
    
  </div>
  <div class="b2">
  
    <img src="../../assets/home4.webp" alt="carpolicy" />
    
  </div>
  <div class="b2">
  
    <img src="../../assets/home5.webp" alt="carpolicy" />
    
  </div>

</div>